header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-bootstrap.fa-2x
    .header__column
        form(action=routes.search, method=get)
            input(type="text", name="keyword", placeholder="Search")
    .header__column
        ul
            li
                a(href=routes.logIn) Log In
            li
                a(href=routes.signUp) Sign Up