header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-bootstrap.fa-2x
    .header__column
        form(action=routes.search, method=get)
            input(type="text", name="keyword", placeholder="Search")
    .header__column
        ul
            if !user.isAuthenticated
                li
                    a(href=routes.logIn) Log In
                li
                    a(href=routes.signUp) Sign Up
            else
                li
                    a(href=`/video${routes.uploadVideo}`) Upload Video
                li
                    a(href=routes.userInfo(user.id)) User Info
                li
                    a(href=routes.logOut) Log Out